<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Допустим, у нас есть поле для ввода логина и кнопка "Отправить". 
  При нажатии на нее идет запрос на сервер, на это время кнопка будет заблокирована. 
  При успешном логине мы выведем имя пользователя ниже, в противном случае 
  покажем ошибку на 5 секунд. Повторная отправка логина возможно только через 1 минуту, 
  нужно добавить таймер, ведущий отсчет перед повторной отправкой логина. -->
  
  <section class="section-main">
    <app-form></app-form>
  </section>

</body>
</html>